<footer>
    <div class="footer_contacts">
        <div class="container">
            <div class="becker">
                <img src="images/becker_logo.png" alt="">
                <p>s motory od německého výrobce BECKER</p>
            </div>

                <ul class="footer_links clearfix">
                    <li><a href="#">Reference</a></li>
                    <li><a href="#">Ke stažení</a></li>
                    <li><a href="#">Partneři</a></li>
                </ul>
                
                <div class="tel_mail">
                    <p class="tel">800 155 000</p>
                    <p class="mail">info@proalu.cz</p>
                </div>
                
                    <div class="fb-like" data-  href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
    </div>

    <div class="copyright_block clearfix">
        <div class="container">
            <div class="designed_by">
                Designed and developed by
                <img src="images/creativin_logo.png" alt="">
            </div>
            <p class="copyright">
                Copyright © Proalu, s.r.o. 2013-2015
            </p>
        </div>
    </div>
</footer>

<script>
  var _gscq = _gscq || [];
  _gscq.push(['language', navigator.language]);
  (function() {
    var gscw = document.createElement('script');
    gscw.type = 'text/javascript'; gscw.async = true;
    gscw.src = '//widgets.getsitecontrol.com/14575/script.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gscw, s);
  })();
</script>