   <header class="clearfix">
    <div class="container">
        <img src="images/logo.png" alt="PRO ALU Logo">
        <nav>
            <ul>
                <li class="has_sub">Produkty
                    <ul class="submenu">
                        <div class="container">
                            <li>
                                <span class="overlay">Rolety</span>
                                <img src="images/submenu-1.jpg" alt="Rolety">
                                <p>Rolety</p>
                            </li>
                            <li><a href="#">
                                <span class="overlay">Venkovní žaluzie</span>
                                <img src="images/submenu-2.jpg" alt="Rolety">
                                <p>Venkovní žaluzie</p>
                            </a></li>
                            <li><a href="#">
                                <span class="overlay">Systémové <br> parapety</span>
                                <img src="images/submenu-3.jpg" alt="Rolety">
                                <p>Systémové parapety</p></a>
                            </li>
                            <li><a href="#">
                                <span class="overlay">Markýzy</span>
                                <img src="images/submenu-4.jpg" alt="Rolety">
                                <p>Markýzy</p></a>
                            </li>
                            <li><a href="#">
                                <span class="overlay">Vrata</span>
                                <img src="images/submenu-5.jpg" alt="Rolety">
                                <p>Vrata</p></a>
                            </li>
                            <li><a href="#">
                                <span class="overlay">Sítě proti hmyzu</span>
                                <img src="images/submenu-6.jpg" alt="Rolety">
                                <p>Sítě proti hmyzu</p>
                            </a></li>
                            <li><a href="#">
                                <span class="overlay">Barvy rolet a <br> žaluzií</span>
                                <img src="images/submenu-7.jpg" alt="Rolety">
                                <p>Barvy rolet a žaluzií</p>
                            </a></li>
                            <li><a href="#">
                                <span class="overlay">Spočítejte si cenu</span>
                                <img src="images/submenu-8.jpg" alt="Rolety">
                                <p>Spočítejte si cenu</p>
                            </a></li>
                        </div>
                    </ul>
                </li>
                <li><a href="#">Konfigurátor</a></li>
                <li><a href="#">Novinky</a></li>
                <li><a href="#">O společnosti</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>

        <div class="menu_wrapper">
        <ul>
            <li>
                CZ
                <ul>
                    <li>GR</li>
                    <li>EN</li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
</header>

<section class="header_block">
    <div class="container">
        <div class="hero_title">
            <h1>Vyrábíme pro Vás předokenní rolety</h1>
            <h2>pro zabudování v novostavbách i pro                 dodatečnou montáž</h2> <br>
            <h3>Garance nejlepší ceny</h3>
        </div>

        <div class="products_tabs_block">
            <h3>Naše produkty</h3>
            <ul class="products_tabs">
                <li><a href="#">Rolety</a></li>
                <li><a href="#">Markýzy</a></li>
                <li><a href="#">Vrata</a></li>
                <li><a href="#">Sítě proti hmyzu</a></li>
                <li><a href="#">Venkovní žaluzie</a></li>
                <li><a href="#">Systémové parapety</a></li>
            </ul>
        </div>
    </div>
</section>